#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color:white;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; 
}

th {
  width: 120px;
  padding-top:25px;
  padding-bottom:30px;
}

td {
  padding: 5px;
}

.time {
  height: 40px;
}
.Event {
  
}

.Event h6, h5 {
  align-content: center;
}

.pink {
  background: pink;
}

.blue {
  background: rgb(190, 219, 229);
}

.green {
  background: rgb(202, 245, 222);
} 

h1, h2 {
  Color: white;
  text-shadow: 1px 1px 3px black;
}

.columns {
  display:inline-block;
  vertical-align:top;
  width: 200px;
  background-color: rgb(228, 213, 193);
  margin:10px;
  box-shadow: 1px 1px 4px black;
  border-radius: 5%;
  transition: width 2s;
}
.columns img {
  width:100%;
  max-width: 100%;
  height: auto;
  border-radius: 5%;
}
.columns:hover {
  width:300px;
}
p {
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 10%;
}
.small {
  margin: 5px;
  padding: 10px;
  background-color: white;
  border-radius: 10%;
  font-size: smaller;
}





/*#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*/